@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 75px;
    color: #FFFFFF;
}

.banner-area {
    width: 100%;
    height: 100vh;

    background: linear-gradient(to right, rgba(26, 26, 26, 1), rgba(26, 26, 26, 0)), url(images/banner-image.png);
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(26, 26, 26, 0)), url(images/banner-image.png); */

    /* from Figma: background: linear-gradient(90deg, #1A1A1A -0.7%, rgba(26, 26, 26, 0) 100%), url(images/banner-image.png); */

    /* rgba(26, 26, 26, 1)
rgba(26, 26, 26, 0) */
    background-size: cover;
}

.banner-content-area {

    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin-left: 5%; */
    padding: 0 100px;
}

#banner-title {
    max-width: 526px;


}

.banner-subtitle {
    width: 480px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 50px;
}


.cta-button {
    position: absolute;
    text-decoration: none;
    background: #EF233C;
    border-radius: 5px;
    padding: 10px 40px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 20px;

}

.half-width-container {
    display: flex;
    max-width: 100%;
    padding: 10%;
    /* flex-direction: row-reverse; */
}

.section-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #121212;
    margin-top: 40px;
    margin-bottom: 20px;

}

.section-details {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    color: #707070;
    padding-right: 100px;
}

container-right img {
    width: 456px;
    height: 477px;
}

.reverse {
    flex-direction: row-reverse;

}

.reverse-image img {
    margin-right: 100px;
}

/* icon section */

.content-area4 {
    width: 100%;

}

.full-width-title {

    text-align: center;
}

.banner-subtitle-fullwidth {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    text-align: center;
    color: #707070;
}

.fifty-fifty-cards {
    display: flex;
    padding: 2% 15%;
}

.card {
    display: flex;
    background: #FEF4F5;
    border-radius: 10px;
    width: 461px;
    /* height: 225px; */
    margin: 10px;
    padding: 40px;
}

.card-text h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #121212;
}

.card-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    color: #707070;
}

.card img {
    width: 56px;
    height: 56px;
    margin-right: 10px;
}

.image-row {
    display: flex;
    /* align-items: center; */
    /* justify-items: center; */
    margin-left: 150px;
}

.image-row img {
    padding: 12px;
}



.charity-section {
    display: flex;
    padding: 10%;

}

.charity-card {
    display: block;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    max-width: 364px;
    margin-right: 20px;

}

.charity-card h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #121212;
}

.charity-card p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #707070;
    margin-bottom: 20px;

}

.charity-card-text {
    padding: 5%;
    margin-bottom: 20px;
}

.charity-card a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #EF233C;


}



.footer-area {
    height: 180px;
    background: #0B0D17;
}

.footer-text {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.5px;
    color: #EF233C;
    text-align: center;

}

.footer-area p {
    color: #D9DBE1;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}